.nav-container {
    display:flex;
    justify-content: space-between;
}

.nav-list {
    display:flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.list-item{
    color:black;
    font-size: 1rem;
    text-decoration: none;
    padding:1rem;
    
}

.nav-item{
    padding: 2rem;
    margin-right:2rem;
}

.logo {

    height: 70%;
    width: 60%;
}