.nav-container {
    height:4rem;
    display:flex;
    justify-content: space-between;
    border-bottom: solid rgba(128, 128, 128, 0.507) 1px;
    background-color: white;
}

.nav-list {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin:0;
    background-color: white;
}

.list-item{    
    color:rgba(0, 0, 0, 0.658);
    font-size: 1rem;
    text-decoration: none;
    padding:0rem 1.5rem 0rem 1rem;   
    background-color: white;
    
}

.nav-item{
    margin: 1.25rem 6rem 1rem 1rem;
    padding:0rem 0.5rem 1rem 0.5rem;
    text-decoration: none;
    background-color: white;
    }

.active{
    border-bottom: solid #35acde 3px
}


.logo {
    height: 70%;
    width: 60%;
    background-color: white;
}

.logo-image{
    height:100%;
    width:100%;
    background-color: white;
}