.notifications-container{
    background-color: white;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    width:29%;
    padding: 1rem 0rem 5rem 0rem;
    height:20rem;
    border: solid rgba(128, 128, 128, 0.151) 1px;
    overflow: scroll;
}
.notifications-container::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
.notifications-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.notifications-container::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.notifications-container::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }

.tabs{
    font-size: 0.7rem;
    background-color: white;
}
.tabs-panel{
    background-color: white;
    
   
}
.tabs-info{
    background-color: #f4fafd;
    text-align: left;
    padding: 0.5rem 0 0 4rem;
    border-bottom: solid rgba(128, 128, 128, 0.151) 1px;
}
.tabs-info-title{
    background-color: #f4fafd;
    margin: 0.5rem 0 0 0 ;
    font-size:1.2rem;

}
.tabs-info-time{
    background-color: #f4fafd;
    font-size: 0.7rem;
}
.tabs-info-content{
    background-color: #f4fafd;
    font-size: 0.85rem;

}

.notifications-title{
    background-color: white;
    font-size:1.2rem;
    margin: 0;
    padding: 0 0 0 1rem;
    text-align: left;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: white;
    background-color: rgba(0,0,0,0.0);
}

