.notifications-container{
    background-color: white;
    margin: 0rem 1rem 1rem 1rem;
    width:23%;
    padding: 1rem 0rem 5rem 0rem;
    height:20rem;
    border: solid rgba(128, 128, 128, 0.151) 1px;
}

.tabs{
    font-size: 0.7rem;
    background-color: white;
}
.tabs-panel{
    background-color: white;
   
}
.tabs-info{
    background-color: white;

}

.notifications-title{
    background-color: white;
    font-size:1.2rem;
    margin: 0;
    padding: 0 0 0 1rem;
    text-align: left;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: white;
    background-color: rgba(0,0,0,0.0);
}