.overview-data-container{
    width: 89%;
    display:flex;
    justify-content: space-between;
    padding: 0rem 0rem 2rem 0rem;
    margin: 2rem 0rem 0rem 5.8rem;
    border: solid rgba(128, 128, 128, 0.151) 1px;
    background-color: white;
}

.issues-container{
    color: rgba(0, 0, 0, 0.45);
    width:17%;
    border-top: solid #35acde 2px;
    background-color: white;
}

.issues-title{
    padding: 0.5rem 0 0 0;
    background-color: white;
}

.issues-number{
    padding: 1rem 0 0 0 ;
    color:#35acde;
    font-size: 22px;
    background-color: white;
}

.inspection-container{
    color: rgba(0, 0, 0, 0.45);
    width:50%;
    border-top: solid #35acde 2px;
    border-left: solid rgba(128, 128, 128, 0.151) 1px;
    padding: 0.5rem 0 0 0;
    background-color: white;

}
.inspection-data{
    display:flex;
    justify-content: center;
    width:90%;
    margin: 0 auto;
    background-color: white;
    color: rgba(0, 0, 0, 0.274)
}

.inspection-number-container{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    background-color: white;
}

.inspection-number {
    color: #35acde;
    font-size: 22px;
    background-color: white;
}
.inspection-total {
    font-size: 22px;
    background-color: white;
    color: rgba(0, 0, 0, 0.274);
}

.inspection-label{
    color: rgba#797979;
    font-size: 10px;
}

.locations-container{
    color: rgba(0, 0, 0, 0.45);
    width:30%;
    border-top: solid #35acde 2px;
    border-left: solid rgba(128, 128, 128, 0.151) 1px;
    background-color: white;
}
.locations-data-container{
    display:flex;
    justify-content: center;
    width:90%;
    margin: 0 auto;
    background-color: white;
}
.locations-title{
    padding: 0.5rem 0 0.5rem 0;
    background-color: white;
}

.locations-data{
    padding: 0 1.5rem 0 1.5rem;
    background-color: white;
}

.locations-number{
    color:#35acde;
    font-size:22px;
    background-color: white;
}
.locations-label{
    font-size: 10px;
    background-color: white;
}