.small-chart-container{
    background-color: white;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    width:29%;
    padding: 1rem 0rem 5rem 0rem;
    height:18rem;
    border: solid rgba(128, 128, 128, 0.151) 1px;
}

.small-chart-title{
    background-color: white;
    font-size: 1.2rem;
    color:rgba(0, 0, 0, 0.678);
    width: 75%;
    padding: 0rem 0rem 0rem 2rem;
    text-align: left;
    margin: auto 0;
}

.small-chart-subtitle {
    background-color: white;
    font-size: .7rem;
    text-align:left;
    padding: 0 0 0 2rem;
    margin: 0.5rem 0 0rem 0;
}

svg{
    background-color: white !important;
}
